.about {
  display: flex;
  justify-content: center;
  padding: 40px 0px;
}
.aboutWrapper {
  height: 68vh;
  width: 90%;
  background-color: white;
  box-shadow: 2px 3px 10px #f8d55689;
  border-radius: 20px;
  padding: 10px;
}
.heading {
  padding: 30px;
}
.heading h1 {
  color: #391710;
  font-size: 40px;
  font-weight: bold;
  word-spacing: 3px;
  border-bottom: 3px solid #391710;
  display: inline;
}
.AbWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}
.AbWrapper img {
  height: 340px;
  width: 550px;
  border-radius: 50px;

  border: 3px solid #f8d556e5;
}
.paragraph {
  font-size: 34px;
  line-height: 40px;
  text-align-last: left;
  word-spacing: 4px;
  font-weight: bold;
  padding-top: 10px;
  color: #391710;
  padding: 10px;
}
.abbtn {
  padding: 20px;
}
.abbtn button {
  padding: 10px;
  background-color: #391710;
  color: #f8d456;
  font-family: "Tangerine", cursive;
  font-size: 30px;
  border-radius: 5px;
  border: 1px solid #f8d556e5;
  word-spacing: 1px;
}
@media screen and (max-width:1300px) {
  .about {
    display: flex;
    justify-content: center;
    padding: 40px 0px;
  }
  .aboutWrapper {
    height: 72vh;
    width: 90%;
    background-color: white;
    box-shadow: 2px 3px 10px #f8d55689;
    border-radius: 20px;
    padding: 10px;
  }
  .heading {
    padding: 30px;
  }
  .heading h1 {
    color: #391710;
    font-size: 40px;
    font-weight: bold;
    word-spacing: 3px;
    border-bottom: 3px solid #391710;
    display: inline;
  }
  .AbWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
  }
  .AbWrapper img {
    height: 340px;
    width: 550px;
    border-radius: 50px;
  
    border: 3px solid #f8d556e5;
  }
  .paragraph {
    font-size: 24px;
    line-height: 40px;
    text-align-last: left;
    word-spacing: 4px;
    font-weight: bold;
    padding-top: 10px;
    color: #391710;
    padding: 0px;
  }
  .abbtn {
    padding: 0px;
  }
  .abbtn button {
    padding: 7px;
    background-color: #391710;
    color: #f8d456;
    font-family: "Tangerine", cursive;
    font-size: 30px;
    border-radius: 5px;
    border: 1px solid #f8d556e5;
    word-spacing: 1px;
  }
  
}
@media screen and (max-width:1100px) {
  .about {
    display: flex;
    justify-content: center;
    padding: 40px 0px;
  }
  .aboutWrapper {
    height: 72vh;
    width: 90%;
    background-color: white;
    box-shadow: 2px 3px 10px #f8d55689;
    border-radius: 20px;
    padding: 10px;
  }
  .heading {
    padding: 30px;
  }
  .heading h1 {
    color: #391710;
    font-size: 40px;
    font-weight: bold;
    word-spacing: 3px;
    border-bottom: 3px solid #391710;
    display: inline;
  }
  .AbWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
  }
  .AbWrapper img {
    height: 340px;
    width: 450px;
    border-radius: 50px;
  
    border: 3px solid #f8d556e5;
  }
  .paragraph {
    font-size: 21px;
    line-height: 40px;
    text-align-last: left;
    word-spacing: 4px;
    font-weight: bold;
    padding-top: 10px;
    color: #391710;
    padding: 0px;
  }
  .abbtn {
    padding: 0px;
  }
  .abbtn button {
    padding: 7px;
    background-color: #391710;
    color: #f8d456;
    font-family: "Tangerine", cursive;
    font-size: 25px;
    border-radius: 5px;
    border: 1px solid #f8d556e5;
    word-spacing: 1px;
  }
  
}
@media screen and  (min-width:768px) and (max-width:1000px) {
  .about {
    display: flex;
    justify-content: center;
    padding: 40px 0px;
  }
  .aboutWrapper {
    height: 120vh;
    width: 90%;
    background-color: white;
    box-shadow: 2px 3px 10px #f8d55689;
    border-radius: 20px;
    padding: 10px;
  }
  .heading {
    padding: 20px;
  }
  .heading h1 {
    color: #391710;
    font-size: 40px;
    font-weight: bold;
    word-spacing: 3px;
    border-bottom: 3px solid #391710;
    display: inline;
  }
  .AbWrapper {
    display: flex;
    flex-direction: column;
   
    align-items: center;
    
  }
  .AbWrapper img {
    height: 350px;
    width: 520px;
    border-radius: 50px;
  
    border: 3px solid #f8d556e5;
  }
  .paragraph {
    font-size: 25px;
 
    text-align-last: left;
   
    font-weight: bold;
    padding-top: 2px;
    color: #391710;
    /* padding: 10px; */
  }
  .abbtn {
    padding: 0px;
  }
  .abbtn button {
    padding: 10px;
    background-color: #391710;
    color: #f8d456;
    font-family: "Tangerine", cursive;
    font-size: 25px;
    border-radius: 5px;
    border: 1px solid #f8d556e5;
    word-spacing: 1px;
  }
  
}
@media screen and  (min-width:500px) and (max-width:768px) {
  .about {
    display: flex;
    justify-content: center;
    padding: 40px 0px;
  }
  .aboutWrapper {
    height: 135vh;
    width: 90%;
    background-color: white;
    box-shadow: 2px 3px 10px #f8d55689;
    border-radius: 20px;
    padding: 10px;
  }
  .heading {
    padding: 20px;
  }
  .heading h1 {
    color: #391710;
    font-size: 35px;
    font-weight: bold;
    word-spacing: 3px;
    border-bottom: 3px solid #391710;
    display: inline;
  }
  .AbWrapper {
    display: flex;
    flex-direction: column;
   gap: 32px;
    align-items: center;
    
  }
  .AbWrapper img {
    height: 300px;
    width: 420px;
    border-radius: 50px;
  
    border: 3px solid #f8d556e5;
  }
  .paragraph {
    font-size: 25px;
 
    text-align-last: left;
   
    font-weight: bold;
    padding-top: 2px;
    color: #391710;
    /* padding: 10px; */
  }
  .abbtn {
    padding: 20px;
  }
  .abbtn button {
    padding: 10px;
    background-color: #391710;
    color: #f8d456;
    font-family: "Tangerine", cursive;
    font-size: 25px;
    border-radius: 5px;
    border: 1px solid #f8d556e5;
    word-spacing: 1px;
  }
  
}
@media screen and  (min-width:375px) and (max-width:500px) {
  .about {
    display: flex;
    justify-content: center;
    padding: 40px 0px;
  }
  .aboutWrapper {
    height: 148vh;
    width: 90%;
    background-color: white;
    box-shadow: 2px 3px 10px #f8d55689;
    border-radius: 20px;
    padding: 10px;
  }
  .heading {
    padding: 20px;
  }
  .heading h1 {
    color: #391710;
    font-size: 29px;
    font-weight: bold;
    word-spacing: 3px;
    border-bottom: 3px solid #391710;
    display: inline;
  }
  .AbWrapper {
    display: flex;
    flex-direction: column;
   gap: 32px;
    align-items: center;
    
  }
  .AbWrapper img {
    height: 287px;
    width: 338px;
    border-radius: 50px;
    border: 3px solid #f8d556e5;
}
  .paragraph {
    font-size: 24px;
 
    text-align-last: left;
   
    font-weight: bold;
    padding-top: 2px;
    color: #391710;
    /* padding: 10px; */
  }
  .abbtn {
    padding: 20px;
  }
  .abbtn button {
    padding: 7px;
    background-color: #391710;
    color: #f8d456;
    font-family: "Tangerine", cursive;
    font-size: 25px;
    border-radius: 5px;
    border: 1px solid #f8d556e5;
    word-spacing: 1px;
  }
  
}
@media screen and  (max-width:375px)  {
  .about {
    display: flex;
    justify-content: center;
    padding: 40px 0px;
  }
  .aboutWrapper {
    height: 124vh;
    width: 90%;
    background-color: white;
    box-shadow: 2px 3px 10px #f8d55689;
    border-radius: 20px;
    padding: 10px;
  }
  .heading {
    padding: 20px;
  }
  .heading h1 {
    color: #391710;
    font-size: 24px;
    font-weight: bold;
    word-spacing: 3px;
    border-bottom: 3px solid #391710;
    display: inline;
  }
  .AbWrapper {
    display: flex;
    flex-direction: column;
   gap: 32px;
    align-items: center;
    
  }
  .AbWrapper img {
    height: 204px;
    width: 258px;
    border-radius: 50px;
    border: 3px solid #f8d556e5;
}
  .paragraph {
    font-size: 21px;
 line-height: 31px;
    text-align-last: left;
   
    font-weight: bold;
    padding-top: 2px;
    color: #391710;
    /* padding: 10px; */
  }
  .abbtn {
    padding: 20px;
  }
  .abbtn button {
    padding: 7px;
    background-color: #391710;
    color: #f8d456;
    font-family: "Tangerine", cursive;
    font-size: 25px;
    border-radius: 5px;
    border: 1px solid #f8d556e5;
    word-spacing: 1px;
  }
  
}


